In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import datetime, timedelta
from tqdm import notebook
from copy import deepcopy

In [ ]:
def spread(rating):
    company = pd.read_excel('credit_ytm.xlsx', index_col = '기준일', sheet_name = rating)
    company.index = pd.DatetimeIndex(company.index.astype(str))
    
    del company['15Y'], company['20Y'] #나중에 데이터 확보시 삭제
    
    free = pd.read_csv('bootstrap_ZCB_ytm.csv', index_col = 'date')
    free.index = pd.DatetimeIndex(free.index.astype(str))
    
    free.columns = company.columns
    
    result = 100 * company - 10000 * free
    
    return result

In [2]:
new = pd.read_csv('1020_invest.csv')

In [43]:
to_be_plot = pd.DataFrame({'1th':None, '2nd':None, '3rd':None, '4th':None, '5th':None, '6th':None} , index = new.index)

In [50]:
a = deepcopy(new)

In [57]:
del a['date']

In [66]:
for i in a.code.unique():
    print(a.loc[i])

KeyError: 'KR610999LW43'

In [44]:
a = new.resample('MS').first()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [12]:
new

,date,code,ytm,close,D,convexity,applied rate,intrinsic rate,high,low,volume,issued price,issuer code
0,2010-01-13,KR610999LW43,5.874,10293.587045,0.919157,-10.628189,AAA,NaN,NaN,NaN,NaN,1.000000e+10,14722
1,2010-01-13,KR3808071W42,2.650,9935.081726,0.244975,0.120021,AAA,AAA,NaN,NaN,NaN,5.000000e+10,03430
2,2010-01-13,KR3811041W43,2.700,9933.864954,0.244945,0.119996,AAA,AAA,NaN,NaN,NaN,1.100000e+11,03432
3,2010-01-13,KR3811057W44,3.980,10087.791705,1.202266,1.774063,AAA,AAA,NaN,NaN,NaN,1.000000e+11,03432
4,2010-01-13,KR6005991W49,4.960,10348.041166,1.177464,1.725980,A-,NaN,NaN,NaN,NaN,2.000000e+10,00599
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38308845,2020-07-12,KR635512CA52,1.110,10020.237763,0.872139,0.834315,AAA,NaN,NaN,NaN,NaN,1.000000e+10,61201
38308846,2020-07-12,KR635512DA51,1.134,10019.223185,0.954381,0.992273,AAA,NaN,NaN,NaN,NaN,1.000000e+10,61202
38308847,2020-07-12,KR635512EA50,1.149,10019.645937,1.036526,1.163727,AAA,NaN,NaN,NaN,NaN,5.000000e+09,61203
38308848,2020-07-12,KR635512FA59,1.158,10020.958898,1.118575,1.348646,AAA,NaN,NaN,NaN,NaN,1.000000e+10,61204
38308849,2020-07-12,KR635512GA58,1.165,10021.652721,1.200530,1.547000,AAA,NaN,NaN,NaN,NaN,1.000000e+10,61205

In [18]:
spread_list.sort_values()

38094039   -0.061
38117856   -0.050
38170396   -0.048
38076596   -0.048
38190263   -0.046
            ...
38220857      NaN
38228801      NaN
38288478      NaN
38297859      NaN
38300317      NaN
Name: ytm, Length: 38308850, dtype: float64

In [27]:
spread_list = spread_list.reset_index()

In [29]:
del spread_list['index']

In [30]:
spread_list

            ytm
0        -0.061
1        -0.050
2        -0.048
3        -0.048
4        -0.046
...         ...
38308845    NaN
38308846    NaN
38308847    NaN
38308848    NaN
38308849    NaN

[38308850 rows x 1 columns]

In [34]:
##해당 ytm의 분위수 찾는 코드
spread_list = deepcopy(new['ytm'])
spread_list = spread_list.sort_values()
spread_list = spread_list.reset_index(drop = True)
spread_list.dropna(inplace = True)
divide_standard = []
for i in range(1,6+1): 
    idx = int(len(spread_list) / 6 * i)-1
    divide_standard.append(spread_list[idx])

In [33]:
spread_list.dropna(inplace = True)

In [35]:
divide_standard

[1.707, 2.045, 2.494, 2.997, 3.81, 507.9165]

In [4]:
del new['Unnamed: 0']

In [6]:
new['date'].unique()

array(['2010-01-13', '2010-01-11', '2010-01-15', ..., '2020-07-09',
       '2020-07-10', '2020-07-11'], dtype=object)

# Spread Change Volatility by Spread Range
## (Exhibit 2) 
### trailing 36 month ('10.1.4. ~ '20.8.20.)

* investment-grade corporate universe partitioned by spread levels
* Duration matching
* Duration이 없는 경우, 만기로 대체 (만기는 issuer_data.xlsx 이용)
* applied rate가 없는 경우, intrinsic rate로 대체 - 다 없는 경우 삭제

In [ ]:
#회사채 데이터가 아닌 / 유니버스의 채권 개별 데이터를 사용해야 할듯..

In [2]:
def raw(year):
    name = 'price_'+str(year)+'.csv'
    dat = pd.read_csv(name, names = ['date', 'code', 'ytm', 'close', 'D', 'convexity', 
                           'applied rate', 'intrinsic rate', 'high', 'low', 'volume', 'issued price', 'issuer code'])
    dat.index = dat['date']
    del dat['date']
    
    dat.index = pd.to_datetime(dat.index.astype(str), format = '%Y-%m-%d')
    
    dat = dat.sort_values('date')
    
    return dat

In [3]:
def high_y(year):
    name = 'price_'+str(year)+'.csv'
    dat = pd.read_csv(name, names = ['date', 'code', 'ytm', 'close', 'D', 'convexity', 
                           'applied rate', 'intrinsic rate', 'high', 'low', 'volume', 'issued price', 'issuer code'])
    
    dat.drop(dat[dat['applied rate'] == 'AAA'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'AA+'].index , inplace = True)
    dat.drop(dat[dat['applied rate'] == 'AA0'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'AA-'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'A+'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'A0'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'A-'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'BBB+'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'BBB0'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'BBB-'].index, inplace = True)
    dat.drop(dat[dat['applied rate'].isna() & dat['intrinsic rate'].isna()].index, inplace = True) 
    
    dat['date'] = pd.to_datetime(dat['date'].astype(str), format = '%Y-%m-%d')
    
    dat.sort_values('date')
    
    return dat

In [4]:
def invest(year):
    name = 'price_'+str(year)+'.csv'
    dat = pd.read_csv(name, names = ['date', 'code', 'ytm', 'close', 'D', 'convexity', 
                           'applied rate', 'intrinsic rate', 'high', 'low', 'volume', 'issued price', 'issuer code'])
    
    dat.drop(dat[dat['applied rate'] == 'BB+'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'BB0'].index , inplace = True)
    dat.drop(dat[dat['applied rate'] == 'BB-'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'B+'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'B0'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'B-'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'CCC'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'CC'].index, inplace = True)
    dat.drop(dat[dat['applied rate'] == 'C'].index, inplace = True)
    dat.drop(dat[dat['applied rate'].isna() & dat['intrinsic rate'].isna()].index, inplace = True)
    
    dat['date'] = pd.to_datetime(dat['date'].astype(str), format = '%Y-%m-%d')
    
    return dat

In [5]:
def treasury(year):
    trea = pd.read_csv('bootstrap_ZCB_ytm.csv', index_col = 'date')
    
    trea.index = pd.to_datetime(trea.index.astype(str), format = '%Y-%m-%d') #이렇게 해놔야 밑에처럼 slicing 가능
    
    trea = trea[str(year)] 
    
    new_index = pd.date_range(str(year)+'-01-01', periods = 365)

    trea = trea.reindex(new_index.union(trea.index), method = 'ffill') #거래일이 아닌 경우 그 전 거래일 값을 가짐. (210426 업데이트)
    
    return 100*trea #소수점을 %로 표시

In [6]:
def Dmatching(data):
    info = pd.read_excel('issuer_data.xlsx')
    
    maturity_val = np.round((info['만기일']-info['발행일'])/10000)
    
    maturity = pd.Series(maturity_val.values, index = info['종목코드'])
    
    for row in notebook.tqdm(range(len(data.index))):
        if math.isnan(data['D'].iloc[row]) == True: ##데이터형
            data["D"].iloc[row] = maturity.loc[data['code'].iloc[row]]
            #전역변수 지역 변수 고려하여 최적화 해보기
            #math.nan 안에 np.nan, float.nan 이 포함됨
            
            
    if data['D'][data['D'].isna()].count() == 0: #na값이 있는지 확인
        print('변환 완료')
        
    else:
        print('변환되지 않은 값이 있습니다.')
    
    return data

In [7]:
def pivo(indiv, trea):
   
    piv = pd.pivot_table(indiv, values = ['D', 'ytm'], index = ['code', 'date'])
    
    mat = []
    tn = []
    
    for i in notebook.tqdm(range(len(piv.index))):
        
        duration = piv["D"].loc[piv.index[i]]
    
        if float(duration) <= 0:
            duration = 3
        elif float(duration) <= 1:
            duration = round(duration/0.25)*3 #분위수 개념 ()
        elif float(duration) <= 3:
            duration = round(duration/0.5)*6  #분위수 개념 ()
        elif round(float(duration)) == 6:
            duration = 60 #duration 이 반올림하여 6년이면, 5년 zcb와 matching
        elif round(float(duration)) == 8:
            duration = 84 #duration 이 반올림하여 8년이면, 7년 zcb와 matching
        elif round(float(duration)) == 9:
            duration = 120 #duration 이 반올림하여 9년이면, 10년 zcb와 matching  
        elif round(float(duration)) > 10:
            duration = 120   #duration 이 반올림하여 10년보다 크면, 10년 zcb와 matching
        else:
            duration = round(float(duration))*12 #나머진 전부 개월로 변환
        
        mat.append(duration)    
    
        try:
            tn.append(trea.loc[piv.index[i][-1]]['MATURITY'+str(duration)])
        
        except Exception:
            tn.append(np.nan)
            
    piv['zcb maturity'] = mat
    piv['spread'] = piv['ytm']-tn
    
    return piv

In [8]:
def pivo2(indiv, trea):
   
    piv = pd.pivot_table(indiv, values = ['D', 'ytm', 'issued price'], index = ['code', 'date'])
    
    mat = []
    tn = []
    wgt = []
    
    total = sum(piv['issued price'].values)
    
    for i in notebook.tqdm(range(len(piv.index))):
        
        duration = piv["D"].loc[piv.index[i]]
        price = piv['issued price'].loc[piv.index[i]]
    
        if float(duration) <= 0:
            duration = 3
        elif float(duration) <= 1:
            duration = round(duration/0.25)*3 #분위수 개념 ()
        elif float(duration) <= 3:
            duration = round(duration/0.5)*6  #분위수 개념 ()
        elif round(float(duration)) == 6:
            duration = 60 #duration 이 반올림하여 6년이면, 5년 zcb와 matching
        elif round(float(duration)) == 8:
            duration = 84 #duration 이 반올림하여 8년이면, 7년 zcb와 matching
        elif round(float(duration)) == 9:
            duration = 120 #duration 이 반올림하여 9년이면, 10년 zcb와 matching  
        elif round(float(duration)) > 10:
            duration = 120   #duration 이 반올림하여 10년보다 크면, 10년 zcb와 matching
        else:
            duration = round(float(duration))*12 #나머진 전부 개월로 변환
        
        mat.append(duration)
        wgt.append(price/total)
    
        try:
            tn.append(trea.loc[piv.index[i][-1]]['MATURITY'+str(duration)])
        
        except Exception:
            tn.append(np.nan)
            
    piv['zcb maturity'] = mat
    piv['spread'] = piv['ytm']-tn
    piv['weight'] = wgt
    
    return piv

In [15]:
test1 = invest(2018)

In [16]:
zcb = treasury(2018)

In [17]:
Dmatching(test1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=4149343.0), HTML(value='')))

C:\Users\belig\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

변환 완료

,date,code,ytm,close,D,convexity,applied rate,intrinsic rate,high,low,volume,issued price,issuer code
0,2018-01-11,KR62304347K7,3.5978,10054.021471,0.022003,0.001802,A+,NaN,NaN,NaN,NaN,200000000,53671
1,2018-01-11,KR6230435770,3.5978,10054.021471,0.022003,0.001802,A+,NaN,NaN,NaN,NaN,1000000000,53640
2,2018-01-11,KR62304357K6,3.5978,10054.021471,0.022003,0.001802,A+,NaN,NaN,NaN,NaN,100000000,53672
3,2018-01-11,KR6230436778,3.5978,10054.021471,0.022003,0.001802,A+,NaN,NaN,NaN,NaN,1000000000,53641
4,2018-01-11,KR62304367K5,3.5978,10054.021471,0.022003,0.001802,A+,NaN,NaN,NaN,NaN,100000000,53673
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187197,2018-11-29,KR6029887652,2.1187,10055.214292,0.205642,0.077951,AA+,AA+,NaN,NaN,NaN,20000000000,02988
4187198,2018-11-29,KR6029887785,2.7221,9955.263817,0.208468,0.147631,AA+,AA+,NaN,NaN,NaN,60000000000,02988
4187199,2018-11-29,KR6029887827,2.3059,10089.826921,0.190487,0.544434,AA+,AA+,NaN,NaN,NaN,50000000000,02988
4187200,2018-11-29,KR6029887850,2.2969,10079.320004,0.201013,0.440000,AA+,AA+,NaN,NaN,NaN,90000000000,02988
4187201,2018-11-29,KR6029888650,2.2006,10084.671098,0.208616,0.167095,AA+,AA+,NaN,NaN,NaN,20000000000,02988

In [18]:
table = pivo2(test1, zcb)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=4149343.0), HTML(value='')))

In [19]:
table

                                D  issued price    ytm  zcb maturity  \
code         date
KR310201A736 2018-01-01  0.183010  100000000000  1.642             3
             2018-01-02  0.180293  100000000000  1.623             3
             2018-01-03  0.177571  100000000000  1.616             3
             2018-01-04  0.174852  100000000000  1.599             3
             2018-01-05  0.172132  100000000000  1.583             3
...                           ...           ...    ...           ...
KR6CHN021696 2018-12-27  0.735944  120000000000  2.482             9
             2018-12-28  0.733230  120000000000  2.477             9
             2018-12-29  0.730501  120000000000  2.477             9
             2018-12-30  0.727771  120000000000  2.477             9
             2018-12-31  0.725047  120000000000  2.475             9

                           spread        weight
code         date
KR310201A736 2018-01-01       NaN  3.640426e-07
             2018-01-02  0.119828  3.640426e-07
             2018-01-03  0.113824  3.640426e-07
             2018-01-04  0.096824  3.640426e-07
             2018-01-05  0.080824  3.640426e-07
...                           ...           ...
KR6CHN021696 2018-12-27  0.737805  4.368511e-07
             2018-12-28  0.732805  4.368511e-07
             2018-12-29       NaN  4.368511e-07
             2018-12-30       NaN  4.368511e-07
             2018-12-31  0.730805  4.368511e-07

[4149343 rows x 6 columns]

In [20]:
table.to_csv('wgt2018.csv')

In [14]:
table['weighted'] = table['spread']*table['weight']

In [15]:
table['weighted'] = table['weighted']*100

In [16]:
table #여기서 portfolio의 spread를 구하려면 모든 값을 일별로 합산한 다음, 일별로 나타내면, 그것이 investment grade의 일자별 spread

                                D  issued price     ytm  zcb maturity  \
code         date
KR3102010088 2010-08-02  5.167373  100000000000  7.0200            60
             2010-08-03  5.188379  100000000000  7.0274            60
             2010-08-04  8.135525  100000000000  7.0252            84
             2010-08-05  8.087111  100000000000  7.0382            84
             2010-08-06  8.099808  100000000000  7.0564            84
...                           ...           ...     ...           ...
KR61373780C4 2010-12-27  1.851149   30000000000  3.9910            24
             2010-12-28  1.849158   30000000000  4.0010            24
             2010-12-29  1.845779   30000000000  3.9910            24
             2010-12-30  1.843082   30000000000  3.9890            24
             2010-12-31  1.841197   30000000000  3.9890            24

                           spread        weight  weighted
code         date
KR3102010088 2010-08-02  2.569647  6.562104e-07  0.000169
             2010-08-03  2.577044  6.562104e-07  0.000169
             2010-08-04       NaN  6.562104e-07       NaN
             2010-08-05       NaN  6.562104e-07       NaN
             2010-08-06       NaN  6.562104e-07       NaN
...                           ...           ...       ...
KR61373780C4 2010-12-27  0.655718  1.968631e-07  0.000013
             2010-12-28  0.645569  1.968631e-07  0.000013
             2010-12-29  0.645656  1.968631e-07  0.000013
             2010-12-30  0.623373  1.968631e-07  0.000012
             2010-12-31  0.623373  1.968631e-07  0.000012

[2874633 rows x 7 columns]

In [17]:
alpha = table['weighted'].fillna(method = 'ffill')

In [18]:
alpha.index[2][0]

'KR3102010088'

In [ ]:
for i in notebook.tqdm(len(range(alpha.index))):
    if alpha.index[i][0] != alpha.index[i+1][0]